<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>templates</title>
</head>
<body>
    <h1>write something your self</h1>
    <form action="/analyze" method="get">
        <textarea name="text" id="" cols="30" rows="10"></textarea><br>
        <input type="checkbox" name="removepunc">Remove punctuation <br>
        <input type="checkbox" name="fullcaps">UPPERCASE <br>
        <input type="checkbox" name="newlineremover">new line remover <br>
        <input type="checkbox" name="extraspaceremover">extra space remover<br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>